<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JTDFROTAS.Properties.Settings.ConnectionString" connectionString="Provider=SQLNCLI11;Data Source=netcodes.ddns.net;Password=Jvcsouza9255223;User ID=sa;Initial Catalog=JTDFROTAS"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>