USE [JTDFROTAS]
GO
/****** Object:  StoredProcedure [dbo].[LOGAR]    Script Date: 19/05/2019 08:57:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[LOGAR]
    @USER nvarchar(50),   
    @SENHA nvarchar(50)
AS  
BEGIN
	DECLARE @USERLOGGED VARCHAR(10) = (SELECT ID FROM USUARIO WHERE NOME LIKE @USER AND SENHA LIKE @SENHA)
    IF @USERLOGGED > 0
	BEGIN
		SELECT @USERLOGGED AS ID
		UPDATE USUARIO SET ULTIMOLOGIN = GETDATE() WHERE ID = @USERLOGGED;
	END
	ELSE
		SELECT 0
END
